.header {
  position: relative;

  &__bg {
    position: absolute;
    left: -700px;
    top: -200px;
    z-index: -1;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 64px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__btn {
    padding: 5px 48px;
    border-radius: 12px;
    max-width: 169px;
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 23px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: var(--light-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.logo {
  &__img {
    padding-right: 16px;
    border-right: 1px solid rgba(51, 26, 47, 0.5);
  }

  &__slogan {
    margin: 0;
    margin-left: 22px;
    width: 189px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--purple-color);
  }
}

.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
  }

  &__item {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;

    &:first-child a {
      background-image: url(../img/arrow-down.svg);
      padding-right: 75px;
      background-repeat: no-repeat;
      background-position: 140px;
    }
  }

  &__link {
    color: var(--purple-color);
  }
}

.contacts {
  &__link {
    padding-left: 34px;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: var(--purple-color);
    background-image: url(../img/phone-icon.svg);
    background-repeat: no-repeat;
    background-position: 0;
  }
}

.menu {
  display: none;

  &__icon {
    fill: var(--primary-color);
    width: 42px;
    height: 38px;
  }
}

@media screen and (max-width: 1280px){
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header {
    &__bg {
      top: -100px;
      left: -420px;
      width: 450px;
      height: 450px;
    }

    &__container {
      padding-top: 17px;
    }

    &__btn {
      padding: 4px 32px;
    }
  }

  .logo {
    height: 75px;

    &__img {
      width: 187px;
    }

    &__slogan {
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      max-width: 135px;
    }
  }

  .nav {
    &__item {
      margin-right: 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 35px;

      &:first-child a {
        background-size: 10px;
        padding-right: 35px;
        background-position: 97px;
      }
    }
  }

  .contacts {
    &__link {
      padding-left: 22px;
      font-weight: 400;
      font-size: 18px;
      line-height: 35px;
      background-size: 17px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__bg {
      display: none;
    }

    &__menu {
      display: block;
    }
  }

  .nav {
    display: none;
  }

  .contacts {
    display: none;
  }

  .menu {
    display: block;
  }
}

@media screen and (max-width: 360px) {
  .header {
    &__btn {
      padding: 0px 19px;
      font-size: 14px;
      line-height: 28px;
    }
  }

  .logo {
    &__img {
      width: 140px;
      border: none;
    }

    &__slogan {
      display: none;
    }
  }
}
