.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 64px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__btn {
    padding: 5px 48px;
    border-radius: 12px;
    max-width: 169px;
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 23px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: var(--light-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.logo {
  &__img {
    padding-right: 16px;
    border-right: 1px solid rgba(51, 26, 47, 0.5);
  }

  &__slogan {
    margin: 0;
    margin-left: 22px;
    max-width: 189px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--purple-color);
  }
}

.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;

    &:first-child a {
      background-image: url(../img/arrow-down.svg);
      padding-right: 75px;
      background-repeat: no-repeat;
      background-position: 140px;
    }
  }

  &__link {
    color: var(--purple-color);
  }
}

.contacts {
  &__link {
    padding-left: 34px;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: var(--purple-color);
    background-image: url(../img/phone-icon.svg);
    background-repeat: no-repeat;
    background-position: 0;
  }
}
