.about {

  &__container {
    padding-bottom: 140px;
  }

  &__title {
    max-width: 844px;
    margin-bottom: 80px;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 25px;
    line-height: 160%;
    color: var(--light-purple-color);
    max-width: 740px;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  &__card:not(:last-child) {
    margin-bottom: 10px;
  }
}
