.hero {
  position: relative;

  &__bg {
    position: absolute;
    right: -730px;
    top: 190px;
    z-index: -1;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 131px;
    gap: 50px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(51, 26, 47, 0.5);
  }

  &__title {
    margin: 0;
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: var(--purple-color);

    span {
      color: var(--primary-color);
    }
  }

  &__price {
    display: flex;
    align-items: flex-start;
    margin-bottom: 18px;
  }

  &__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 160%;
    color: var(--light-purple-color);

    p {
      margin: 0;
      margin-bottom: 15px;
    }
  }

  &__img {
    max-width: 620px;
    max-height: 604px;
  }
}

.price {

  &__img {
    margin-right: 25px;
    width: 48px;
    height: 48px;
  }

  &__descr {
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--light-purple-color);

    span {
      font-weight: 700;
      font-size: 38px;
      line-height: 55px;
      color: var(--primary-color);
    }
  }
}

@media screen and (max-width: 1280px) {
  .hero {
    &__title {
      font-size: 46px;
      line-height: 65px;
    }

    &__content {
      width: 70%;
    }

    &__text {
      font-size: 20px;
    }

    &__img {
      width: 435px;
    }

    &__bg {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {

    &__container {
      display: block;
      position: relative;
    }

    &__content {
      max-width: 100%;
    }

    &__title {
      width: 675px;
    }


    &__img {
      position: absolute;
      width: 410px;
      height: 410px;
      top: 185px;
      right: -150px;
    }
  }
}

@media screen and (max-width: 360px) {
  .hero {
    &__title {
      font-size: 26px;
      line-height: 150%;
      width: 200px;
    }

    &__text {
      font-size: 18px;
      width: 345px;
    }

    &__img {
      top: 10px;
      right: -115px;
      width: 245px;
      height: 245px;
    }
  }
}
