<header class="header">
  <div class="container header__container">
    <a href="#" class="logo header__logo">
      <img src="../img/logo.svg" alt="Logo" class="logo__img">
      <p class="logo__slogan">Надежный сервис
        аналитики для поставщиков
        на&nbsp;маркетплейсы</p>
    </a>
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link">Аналитика</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Обучение</a>
        </li>
      </ul>
    </nav>
    <div class="contacts">
      <a href="tel:84994503141" class="contacts__link">8 (499) 450-31-41</a>
    </div>
    <a href="#" class="header__btn btn-reset">
      <!-- <img src="../img/login-icon.svg" alt="Login"> -->
      <span>Войти</span>
    </a>
    <div class="menu">
      <a href="#" class="menu__btn btn-reset">
        <svg class="menu__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#burger"></use>
        </svg>
      </a>
    </div>
  </div>
  <img src="../img/BG-Ellipse.png" alt="Ellipse" class="header__bg">
</header>
