<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h4 class="hero__subtitle">Главная - Обучение</h4>
      <h1 class="hero__title"><span>Обучающие курсы</span> для поставщиков на&nbsp;маркетплейсы</h1>
      <div class="price hero__price">
        <img src="../img/spent.svg" alt="Spent" class="price__img">
        <p class="price__descr">от&nbsp;<span>19&nbsp;900</span>&nbsp;P</p>
      </div>
      <div class="hero__text">
        <p>Обучающие курсы по&nbsp;работе и&nbsp;продвижению на&nbsp;маркетплейсах от&nbsp;практикующих селлеров</p>
        <p>Добро пожаловать в&nbsp;Академию. Это место для эффективного обучения, где мы&nbsp;рассказываем, как работают маркетплейсы и&nbsp;никогда не&nbsp;вдаемся
          в&nbsp;теорию, которая не&nbsp;понадобится на&nbsp;практике.</p>
        <p>Наши уроки помогут понять логику работы площадок и&nbsp;взять управление продажами в&nbsp;свои руки, а&nbsp;не&nbsp;действовать наугад. Становись экспертом в&nbsp;работе с&nbsp;маркетплейсами и&nbsp;увеличивай свою прибыль.</p>
      </div>
    </div>
    <svg class="hero__image" aria-hidden="true">
      <use xlink:href="img/sprite.svg#superman"></use>
    </svg>
  </div>
</section>
