<section class="learn">
  <div class="container learn__container">
    <h2 class="title learn__title">Обучение по продажам на маркетплейсах от stat<span>4</span>market
    <div class="learn__underline"></div>
    </h2>
    <h3 class="learn__subtitle">«Увеличение реальной прибыли, конкретика и ключевые инструменты,
      которые дают результат» — на этом тезисе созданы наши курсы</h3>
    <div class="learn__items">
      <div class="learn__item">
        <img src="../img/learn-Icon1.svg" alt="Img">
        <h3 class="learn__item-subtitle">Наше обучение построено очень лаконично и просто</h3>
        <p class="learn__item-text">Все занятия короткие по продолжительности для легкого восприятия и понимания. Мы даем в уроках только конкретику, без лишней теории и “воды”.</p>
      </div>
      <div class="learn__item">
        <img src="../img/learn-Icon2.svg" alt="Img">
        <h3 class="learn__item-subtitle">Ко всем урокам есть дополнительные материалы</h3>
        <p class="learn__item-text">Презентации, краткие инструкции, чек-листы и памятки по работе с маркетплейсами.</p>
      </div>
      <div class="learn__item">
        <img src="../img/learn-Icon3.svg" alt="Img">
        <h3 class="learn__item-subtitle">Наше обучение — практико-ориентированное</h3>
        <p class="learn__item-text">Поэтому после прохождения уроков ты будешь выполнять задания, которые помогут тебе закрепить полученные знания на практике.</p>
      </div>
      <div class="learn__item">
        <img src="../img/learn-Icon4.svg" alt="Img">
        <h3 class="learn__item-subtitle">Создатели нашей Академии</h3>
        <p class="learn__item-text">Действующие селлеры с большим опытом в продажах на маркетплейсах, эксперты компании stat4market, а также профессиональные лекторы и методологи.</p>
      </div>
    </div>
  </div>
</section>
